################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
*.obj
*.user
*.filters
*.vcxproj
*.sln
/chapter02-introduction-cpp/x64/Debug
/chapter02-introduction-cpp/chapter0.daa74433/x64/Debug
/chapter02-introduction-cpp/.vs/chapter02-introduction-cpp/v17
*.vsidx
/.vs
/chapter03-introduction-to-classes-objects-member-functions-and-strings/.vs/chapter03-introduction-to-classes-objects-member-functions-and-strings/v17
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/ipch/AutoPCH/548ad49e359efc96
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/.suo
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/Browse.VC.db
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/Browse.VC.db-shm
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/Browse.VC.db-wal
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/Browse.VC.opendb
/chapter06-functions/.vs/chapter06-functions/v17/ipch/AutoPCH/7115cc14fc7aa22b
/chapter06-functions/.vs/chapter06-functions/v17/Browse.VC.db
/chapter06-functions/.vs/chapter06-functions/v17/Browse.VC.db-shm
/chapter06-functions/.vs/chapter06-functions/v17/Browse.VC.db-wal
/chapter06-functions/.vs/chapter06-functions/v17/Browse.VC.opendb
/chapter05-control-statements/.vs/chapter05-control-statements/v17/ipch/AutoPCH
/chapter05-control-statements/.vs/chapter05-control-statements/v17/.suo
/chapter05-control-statements/.vs/chapter05-control-statements/v17/Browse.VC.db
/chapter05-control-statements/.vs/chapter05-control-statements/v17/DocumentLayout.backup.json
/chapter05-control-statements/.vs/chapter05-control-statements/v17/DocumentLayout.json
/chapter05-control-statements/.vs/chapter05-control-statements/v17/Solution.VC.db
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/ipch/AutoPCH
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/DocumentLayout.json
/chapter05-control-statements/chapter0.991df007/x64/Debug
/chapter05-control-statements/x64/Debug/chapter05-control-statements.pdb
/chapter06-functions/.vs/chapter06-functions/v17/ipch/AutoPCH
*.suo
/chapter08-pointers/.vs/chapter08-pointers/v17/ipch/AutoPCH
/chapter08-pointers/.vs/chapter08-pointers/v17/Browse.VC.db
/chapter08-pointers/.vs/chapter08-pointers/v17/Browse.VC.db-shm
/chapter08-pointers/.vs/chapter08-pointers/v17/Browse.VC.db-wal
/chapter08-pointers/.vs/chapter08-pointers/v17/Browse.VC.opendb
/chapter07-array-and-vector/.vs/chapter07-array-and-vector/v17/Browse.VC.db
/chapter08-pointers/.vs/chapter08-pointers/v17/DocumentLayout.json
*.db
/chapter07-array-and-vector/.vs/chapter07-array-and-vector/v17/Browse.VC.db
