################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
*.obj
*.user
*.filters
*.vcxproj
*.sln
/chapter02-introduction-cpp/x64/Debug
/chapter02-introduction-cpp/chapter0.daa74433/x64/Debug
/chapter02-introduction-cpp/.vs/chapter02-introduction-cpp/v17
*.vsidx
/.vs
/chapter03-introduction-to-classes-objects-member-functions-and-strings/.vs/chapter03-introduction-to-classes-objects-member-functions-and-strings/v17
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/ipch/AutoPCH/548ad49e359efc96
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/.suo
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/Browse.VC.db
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/Browse.VC.db-shm
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/Browse.VC.db-wal
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/Browse.VC.opendb
/chapter06-functions/.vs/chapter06-functions/v17/ipch/AutoPCH/7115cc14fc7aa22b
/chapter06-functions/.vs/chapter06-functions/v17/Browse.VC.db
/chapter06-functions/.vs/chapter06-functions/v17/Browse.VC.db-shm
/chapter06-functions/.vs/chapter06-functions/v17/Browse.VC.db-wal
/chapter06-functions/.vs/chapter06-functions/v17/Browse.VC.opendb
/chapter05-control-statements/.vs/chapter05-control-statements/v17/ipch/AutoPCH
/chapter05-control-statements/.vs/chapter05-control-statements/v17/.suo
/chapter05-control-statements/.vs/chapter05-control-statements/v17/Browse.VC.db
/chapter05-control-statements/.vs/chapter05-control-statements/v17/DocumentLayout.backup.json
/chapter05-control-statements/.vs/chapter05-control-statements/v17/DocumentLayout.json
/chapter05-control-statements/.vs/chapter05-control-statements/v17/Solution.VC.db
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/ipch/AutoPCH
/chapter04-algorithm-development-and-control-statements/.vs/chapter04-algorithm-development-and-control-statements/v17/DocumentLayout.json
/chapter05-control-statements/chapter0.991df007/x64/Debug
/chapter05-control-statements/x64/Debug/chapter05-control-statements.pdb
/chapter06-functions/.vs/chapter06-functions/v17/ipch/AutoPCH
*.suo
/chapter08-pointers/.vs/chapter08-pointers/v17/ipch/AutoPCH
/chapter08-pointers/.vs/chapter08-pointers/v17/Browse.VC.db
/chapter08-pointers/.vs/chapter08-pointers/v17/Browse.VC.db-shm
/chapter08-pointers/.vs/chapter08-pointers/v17/Browse.VC.db-wal
/chapter08-pointers/.vs/chapter08-pointers/v17/Browse.VC.opendb
/chapter07-array-and-vector/.vs/chapter07-array-and-vector/v17/Browse.VC.db
/chapter08-pointers/.vs/chapter08-pointers/v17/DocumentLayout.json
*.db
/chapter07-array-and-vector/.vs/chapter07-array-and-vector/v17/Browse.VC.db
/chapter09-classes/.vs/chapter09-classes/v17/ipch/AutoPCH
/chapter09-classes/.vs/chapter09-classes/v17/Browse.VC.db-shm
/chapter09-classes/.vs/chapter09-classes/v17/Browse.VC.db-wal
/chapter09-classes/.vs/chapter09-classes/v17/Browse.VC.opendb
/chapter09-classes/.vs/chapter09-classes/v17/DocumentLayout.backup.json
/chapter09-classes/.vs/chapter09-classes/v17/DocumentLayout.json
/chapter07-array-and-vector/.vs/chapter07-array-and-vector/v17/DocumentLayout.json
/chapter09-classes/chapter0.503457b6/x64/Debug
*.pdb
/chapter10-operator-overloading/.vs/chapter10-operator-overloading/v17/ipch/AutoPCH
/chapter10-operator-overloading/.vs/chapter10-operator-overloading/v17/Browse.VC.db-shm
/chapter10-operator-overloading/.vs/chapter10-operator-overloading/v17/Browse.VC.db-wal
/chapter10-operator-overloading/.vs/chapter10-operator-overloading/v17/Browse.VC.opendb
/chapter10-operator-overloading/.vs/chapter10-operator-overloading/v17/DocumentLayout.backup.json
/chapter10-operator-overloading/.vs/chapter10-operator-overloading/v17/DocumentLayout.json
/chapter11-oop-inheritance/.vs/chapter11-oop-inheritance/v17/Browse.VC.db-shm
/chapter11-oop-inheritance/.vs/chapter11-oop-inheritance/v17/Browse.VC.db-wal
/chapter11-oop-inheritance/.vs/chapter11-oop-inheritance/v17/Browse.VC.opendb
/chapter11-oop-inheritance/.vs/chapter11-oop-inheritance/v17/DocumentLayout.json
/chapter11-oop-inheritance/.vs/chapter11-oop-inheritance/v17/ipch/AutoPCH/222a6bcb1c7c062d
/chapter11-oop-inheritance/.vs/chapter11-oop-inheritance/v17/ipch/AutoPCH/5914422e5736661e
/chapter11-oop-inheritance/.vs/chapter11-oop-inheritance/v17/ipch/AutoPCH/70b68fbf70ec6c6c
/chapter11-oop-inheritance/.vs/chapter11-oop-inheritance/v17/ipch/AutoPCH/86e25d7908fae0f3
/chapter11-oop-inheritance/.vs/chapter11-oop-inheritance/v17/ipch/AutoPCH/f098364e2c56dc3b/CHAPTER11-OOP-INHERITANCE.ipch
/chapter12-oop-polymorphism/.vs/chapter12-oop-polymorphism/v17/ipch/AutoPCH
/chapter12-oop-polymorphism/.vs/chapter12-oop-polymorphism/v17/Browse.VC.db-shm
/chapter12-oop-polymorphism/.vs/chapter12-oop-polymorphism/v17/Browse.VC.db-wal
/chapter12-oop-polymorphism/.vs/chapter12-oop-polymorphism/v17/Browse.VC.opendb
/chapter12-oop-polymorphism/.vs/chapter12-oop-polymorphism/v17/DocumentLayout.json
/chapter11-oop-inheritance/.vs/chapter11-oop-inheritance/v17/DocumentLayout.backup.json
/chapter12-oop-polymorphism/.vs/chapter12-oop-polymorphism/CopilotIndices/17.14.1641.39856
/chapter12-oop-polymorphism/.vs/chapter12-oop-polymorphism/v17/DocumentLayout.backup.json
/chapter13-stream-input-output/.vs/chapter13-stream-input-output/CopilotIndices/17.14.1641.39856
/chapter13-stream-input-output/.vs/chapter13-stream-input-output/v17/ipch/AutoPCH
/chapter13-stream-input-output/.vs/chapter13-stream-input-output/v17/Browse.VC.db-shm
/chapter13-stream-input-output/.vs/chapter13-stream-input-output/v17/Browse.VC.db-wal
/chapter13-stream-input-output/.vs/chapter13-stream-input-output/v17/Browse.VC.opendb
/chapter14-file-processing/.vs/chapter14-file-processing
/chapter14-file-processing/chapter1.f282c276/x64/Debug/chapter1.f282c276.tlog
/chapter14-file-processing/chapter1.f282c276/x64/Debug/chapter14-file-processing.exe.recipe
/chapter14-file-processing/chapter1.f282c276/x64/Debug/chapter14-file-processing.ilk
/chapter14-file-processing/chapter1.f282c276/x64/Debug/chapter14-file-processing.log
/chapter14-file-processing/chapter1.f282c276/x64/Debug/vc143.idb
/chapter15-containers-and-iterators/.vs/chapter15-containers-and-iterators/v17/ipch/AutoPCH
/chapter15-containers-and-iterators/.vs/chapter15-containers-and-iterators/v17/Browse.VC.db-shm
/chapter15-containers-and-iterators/.vs/chapter15-containers-and-iterators/v17/Browse.VC.db-wal
/chapter15-containers-and-iterators/.vs/chapter15-containers-and-iterators/v17/Browse.VC.opendb
/chapter15-containers-and-iterators/.vs/chapter15-containers-and-iterators/v17/DocumentLayout.json
/chapter15-containers-and-iterators/.vs/chapter15-containers-and-iterators/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
/chapter15-containers-and-iterators/.vs/chapter15-containers-and-iterators/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
/chapter15-containers-and-iterators/.vs/chapter15-containers-and-iterators/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
/chapter15-containers-and-iterators/.vs/chapter15-containers-and-iterators/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
/chapter13-stream-input-output/.vs/chapter13-stream-input-output/v17/DocumentLayout.json
/chapter16-standard-library-algorithm/.vs/chapter16-standard-library-algorithm/v17/ipch/AutoPCH
/chapter16-standard-library-algorithm/.vs/chapter16-standard-library-algorithm/v17/Browse.VC.db-shm
/chapter16-standard-library-algorithm/.vs/chapter16-standard-library-algorithm/v17/Browse.VC.db-wal
/chapter16-standard-library-algorithm/.vs/chapter16-standard-library-algorithm/v17/Browse.VC.opendb
/chapter16-standard-library-algorithm/.vs/chapter16-standard-library-algorithm/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
/chapter16-standard-library-algorithm/.vs/chapter16-standard-library-algorithm/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
/chapter16-standard-library-algorithm/.vs/chapter16-standard-library-algorithm/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
/chapter16-standard-library-algorithm/.vs/chapter16-standard-library-algorithm/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
/chapter15-containers-and-iterators/.vs/chapter15-containers-and-iterators/v17/DocumentLayout.backup.json
/chapter17-exception-handling/.vs/chapter17-exception-handling/CopilotIndices/17.14.1641.39856
/chapter17-exception-handling/.vs/chapter17-exception-handling/v17/ipch/AutoPCH
/chapter17-exception-handling/.vs/chapter17-exception-handling/v17/Browse.VC.db-shm
/chapter17-exception-handling/.vs/chapter17-exception-handling/v17/Browse.VC.db-wal
/chapter17-exception-handling/.vs/chapter17-exception-handling/v17/Browse.VC.opendb
/chapter16-standard-library-algorithm/.vs/chapter16-standard-library-algorithm/v17/DocumentLayout.json
/chapter18-introduction-custom-templates/.vs/chapter18-introduction-custom-templates/CopilotIndices/17.14.1641.39856
/chapter18-introduction-custom-templates/.vs/chapter18-introduction-custom-templates/v17/ipch/AutoPCH
/chapter18-introduction-custom-templates/.vs/chapter18-introduction-custom-templates/v17/Browse.VC.db-shm
/chapter18-introduction-custom-templates/.vs/chapter18-introduction-custom-templates/v17/Browse.VC.db-wal
/chapter18-introduction-custom-templates/.vs/chapter18-introduction-custom-templates/v17/Browse.VC.opendb
/chapter17-exception-handling/.vs/chapter17-exception-handling/v17/DocumentLayout.json
/chapter07-array-and-vector/.vs/chapter07-array-and-vector/v17/Browse.VC.db-shm
/chapter07-array-and-vector/.vs/chapter07-array-and-vector/v17/Browse.VC.db-wal
/chapter07-array-and-vector/.vs/chapter07-array-and-vector/v17/Browse.VC.opendb
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/v17/Browse.VC.db-shm
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/v17/Browse.VC.db-wal
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/v17/Browse.VC.opendb
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/CopilotIndices/17.14.1641.39856
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/v17/ipch/AutoPCH/10dda43bcf1d9c3
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/v17/ipch/AutoPCH/477177ae85c4307a
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/v17/ipch/AutoPCH/75a2f29880e69d46
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/v17/ipch/AutoPCH/9ec390a7efbc6832
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/v17/ipch/AutoPCH/e0a6e6b167270c8f
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/v17/ipch/AutoPCH/ec59068ffed4ec05
/chapter19-custom-templatized-data-structures/.vs/chapter19-custom-templatized-data-structures/v17/ipch/AutoPCH/1a1d6395f8768a7e/FIG19_14.ipch
/chapter18-introduction-custom-templates/.vs/chapter18-introduction-custom-templates/v17/DocumentLayout.json
