################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
*.obj
*.user
*.filters
*.vcxproj
*.sln
/chapter02-introduction-cpp/x64/Debug
/chapter02-introduction-cpp/chapter0.daa74433/x64/Debug
/chapter02-introduction-cpp/.vs/chapter02-introduction-cpp/v17
*.vsidx
/.vs
